.content h1,h2,h3,h4,h5,h6 {
    color: #7a7a7a  ;
}

.card {
    border-radius: 8px;
    &:hover {
        transform: translateY(-5px);
        transition: all 200ms ease-in-out;
        box-shadow: 0 2px 8px 4px #0a0a0a29, 0 0 0 1px hsla(0,0%,4%,.1);
    }
}

.card-image {
    .image {
        img {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
    }
}

.tag {
    
    svg {
        margin-right: 3px;
    }
}